<a href="https://colab.research.google.com/github/pranavi2013/AIML_2024/blob/main/lab_1_part_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
df='/content/lab1.csv'
data=pd.read_csv(df)
print(data)

     people  age  height  weight
0     rohan   29     135      42
1     arush   33     171      75
2     vinay   35     177      35
3  varshith   48     134      65

In [ ]:
import pandas as pd
df='/content/sample-1.tsv'
data=pd.read_csv(df,delimiter='\t')
print(data)

    Unnamed: 0 Unnamed: 1 Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5  \
0          NaN    JANUARY        NaN        NaN        NaN        NaN
1          NaN          S          M          T          W          T
2          NaN        NaN        NaN        NaN        NaN        NaN
3          NaN          2          3          4          5          6
4          NaN          9         10         11         12         13
5          NaN         16         17         18         19         20
6          NaN         23         24         25         26         27
7          NaN         30         31        NaN        NaN        NaN
8          NaN        NaN        NaN        NaN        NaN        NaN
9          NaN     APRIL         NaN        NaN        NaN        NaN
10         NaN          S          M          T          W          T
11         NaN        NaN        NaN        NaN        NaN        NaN
12         NaN          3          4          5          6          7
13         NaN         10         11         12         13         14
14         NaN         17         18         19         20         21
15         NaN         24         25         26         27         28
16         NaN        NaN        NaN        NaN        NaN        NaN
17         NaN        NaN        NaN        NaN        NaN        NaN
18         NaN       JULY        NaN        NaN        NaN        NaN
19         NaN          S          M          T          W          T
20         NaN        NaN        NaN        NaN        NaN        NaN
21         NaN          3          4          5          6          7
22         NaN         10         11         12         13         14
23         NaN         17         18         19         20         21
24         NaN         24         25         26         27         28
25         NaN         31        NaN        NaN        NaN        NaN
26         NaN        NaN        NaN        NaN        NaN        NaN
27         NaN    OCTOBER        NaN        NaN        NaN        NaN
28         NaN          S          M          T          W          T
29         NaN        NaN        NaN        NaN        NaN        NaN
30         NaN          2          3          4          5          6
31         NaN          9         10         11         12         13
32         NaN         16         17         18         19         20
33         NaN         23         24         25         26         27
34         NaN         30         31        NaN        NaN        NaN

   Unnamed: 6 Unnamed: 7  Unnamed: 8 Unnamed: 9  ... Unnamed: 17 Unnamed: 18  \
0         NaN        NaN         NaN   FEBRUARY  ...       MARCH         NaN
1           F          S         NaN          S  ...           S           M
2         NaN          1         NaN        NaN  ...         NaN         NaN
3           7          8         NaN          6  ...           6           7
4          14         15         NaN         13  ...          13          14
5          21         22         NaN         20  ...          20          21
6          28         29         NaN         27  ...          27          28
7         NaN        NaN         NaN        NaN  ...         NaN         NaN
8         NaN        NaN         NaN        NaN  ...         NaN         NaN
9         NaN        NaN         NaN        MAY  ...        JUNE         NaN
10          F          S         NaN          S  ...           S           M
11          1          2         NaN          1  ...         NaN         NaN
12          8          9         NaN          8  ...           5           6
13         15         16         NaN         15  ...          12          13
14         22         23         NaN         22  ...          19          20
15         29         30         NaN         29  ...          26          27
16        NaN        NaN         NaN        NaN  ...         NaN         NaN
17        NaN        NaN         NaN        NaN  ...         NaN         NaN
18        NaN        NaN         NaN     AUGUST  ...   SEPTEMBER         NaN
19          F          S         NaN          S  ...           S           M
20          1          2         NaN        NaN  ...         NaN         NaN
21          8          9         NaN          7  ...           4           5
22         15         16         NaN         14  ...          11          12
23         22         23         NaN         21  ...          18          19
24         29         30         NaN         28  ...          25          26
25        NaN        NaN         NaN        NaN  ...         NaN         NaN
26        NaN        NaN         NaN        NaN  ...         NaN         NaN
27        NaN        NaN         NaN   NOVEMBER  ...    DECEMBER         NaN
28          F          S         NaN          S  ...           S           M
29        NaN          1         NaN        NaN  ...         NaN         NaN
30          7          8         NaN          6  ...           4           5
31         14         15         NaN         13  ...          11          12
32         21         22         NaN         20  ...          18          19
33         28         29         NaN         27  ...          25          26
34        NaN        NaN         NaN        NaN  ...         NaN         NaN

   Unnamed: 19 Unnamed: 20 Unnamed: 21 Unnamed: 22  Unnamed: 23 Unnamed: 24  \
0          NaN         NaN         NaN         NaN          NaN         NaN
1            T           W           T           F            S         NaN
2            1           2           3           4            5         NaN
3            8           9          10          11           12         NaN
4           15          16          17          18           19         NaN
5           22          23          24          25           26         NaN
6           29          30          31         NaN          NaN         NaN
7          NaN         NaN         NaN         NaN          NaN         NaN
8          NaN         NaN         NaN         NaN          NaN         NaN
9          NaN         NaN         NaN         NaN          NaN         NaN
10           T           W           T           F            S         NaN
11         NaN           1           2           3            4         NaN
12           7           8           9          10           11         NaN
13          14          15          16          17           18         NaN
14          21          22          23          24           25         NaN
15          28          29          30         NaN          NaN         NaN
16         NaN         NaN         NaN         NaN          NaN         NaN
17         NaN         NaN         NaN         NaN          NaN         NaN
18         NaN         NaN         NaN         NaN          NaN         NaN
19           T           W           T           F            S         NaN
20         NaN         NaN           1           2            3         NaN
21           6           7           8           9           10         NaN
22          13          14          15          16           17         NaN
23          20          21          22          23           24         NaN
24          27          28          29          30          NaN         NaN
25         NaN         NaN         NaN         NaN          NaN         NaN
26         NaN         NaN         NaN         NaN          NaN         NaN
27         NaN         NaN         NaN         NaN          NaN         NaN
28           T           W           T           F            S         NaN
29         NaN         NaN           1           2            3         NaN
30           6           7           8           9           10         NaN
31          13          14          15          16           17         NaN
32          20          21          22          23           24         NaN
33          27          28          29          30           31         NaN
34         NaN         NaN         NaN         NaN          NaN         NaN

   2022 Create more with themes              Go to  Format  >> Theme
0   NaN                                                NaN
1   NaN                                                NaN
2   NaN                                                NaN
3   NaN                                                NaN
4   NaN                                                NaN
5   NaN                                                NaN
6   NaN                                                NaN
7   NaN                                                NaN
8   NaN                                                NaN
9   NaN                                                NaN
10  NaN                                                NaN
11  NaN                                                NaN
12  NaN                                                NaN
13  NaN                                                NaN
14  NaN                                                NaN
15  NaN                                                NaN
16  NaN                                                NaN
17  NaN                                                NaN
18  NaN                                                NaN
19  NaN                                                NaN
20  NaN                                                NaN
21  NaN                                                NaN
22  NaN                                                NaN
23  NaN                                                NaN
24  NaN                                                NaN
25  NaN                                                NaN
26  NaN                                                NaN
27  NaN                                                NaN
28  NaN                                                NaN
29  NaN                                                NaN
30  NaN                                                NaN
31  NaN                                                NaN
32  NaN                                                NaN
33  NaN                                                NaN
34  NaN                                                NaN

[35 rows x 27 columns]

In [ ]:
import pandas as pd
df='/content/lab1.xlsl.xlsx'
data=pd.read_excel(df)
print(data)

     people  age  height  weight
0     rohan   29     135      42
1     arush   33     171      75
2     vinay   35     177      35
3  varshith   48     134      65